{% macro navLink(url, text) %}
    <a
        href="{{url}}"
        class="block mt-4 lg:inline-block lg:mt-0 hover:text-yellow mr-4 {% if isCurrent or isParent %}underline font-bold{% endif %}">
        {{text}}
    </a>
{% endmacro %}
<div class="flex justify-center">
    {%- for item in collections.all | eleventyNavigation -%}
        {%- if item.url -%}
            {%- set isCurrent = (item.url == page.url) -%}
            {%- set isParent = item.url != '/' and item.url in page.url -%}
            <a 
                href="{% if isCurrent %}#main{% else %}{{ item.url | url }}{% endif %}" 
                class="block mt-4 lg:inline-block lg:mt-0 hover:text-yellow mr-4 {% if isCurrent or isParent %}underline font-bold{% endif %}"
                {% if isCurrent %}aria-current="page" {% endif %}
            >
                {{ item.title }}
            </a>
        {%- endif -%}
    {%- endfor -%}
    {{ navLink("/#portfolio", "Portfolio")}}
    {{navLink("https://us21.list-manage.com/contact-form?u=386780ea29ed145c2726a5438&form_id=ab45f3aa65dd38077a61bf158db0c9e8", "Contact")}}

</div>