---
title: PingPlotter | Contact Center Traction
description: Generated PingPlotter sales traction in the contact center market
image: https://edgewize.imgix.net/images/tradeshow-exhibit.jpg?format=auto&w=723&h=371&fit=crop&crop=focalpoint&fp-x=0&fp-y=.1&fp-z=1
layout: post
tags:
    - portfolio
---
<section>
    <div class="flex flex-col space-y-4">
        <p class="font-bold">March 2022 to April 2023</p>
        <h4 class="font-header text-xl font-medium text-black sm:text-2xl lg:text-3xl">
            Background
        </h4>
        <p>
            <a href="https://www.pingplotter.com/cloud">PingPlotter Cloud</a> is a remote worker network monitoring system. It helps businesses improve operations by helping managers understand what internet connections mean to their business. The SaaS product was introduced in mid-2020 to address growing need for insight into remote worker internet connections.
        </p>
        <p>This was the situation when I started the project</p>
        <ul class="list-inside list-disc">
            <li>
                <a href="https://withintent.com/blog/what-is-product-market-fit/">Product-market-fit</a> identified with remote working companies.
            </li>
            <li>
                ~100 subscribers acquired through existing customers and inbound website inquiries.
            </li>
            <li>
                Return to office was slowing down the previously hot Legal IT segment. 
            </li>
            <li>
                Sales recently closed <a href="https://www.pingplotter.com/wisdom/article/ruby-story/" target="_blank">Ruby Receptionists</a> and suggested targeting contact centers.   
            </li>
        </ul>
        <h4 class="pt-6 mb-4 font-header text-xl font-medium text-black sm:text-2xl lg:text-3xl">
            Results  
        </h4>
        <p>
            With the goal of accellerating MRR growth, we needed an outbound strategy targeting a lucrative segment. My sales counterpart saw potential in the contact center space because productivity a top priority and many viewed remote work as permanent. I took the insight and created a customer acquisition strategy. The plan was executed by myself and two creative professionals. We achieved these results over the course of a year.    
        </p>
        <ul class="list-inside list-disc mb-4">
            <li>
                Produced content marketing assets to support the contact center buyer's journey.
            </li>
            <li>
                Generated 100 sales qualified leads from <a href="https://www.icmi.com/contact-center-expo-conference" target="_blank">ICMI</a> and <a href="https://www.callandcontactcenterexpo.us/" target="_blank">CCCE</a> tradeshows. 
            </li>
            <li>
                Increased average deal size and grew sales pipeline to record highs.  
            </li>
            <li>
                Acquired a dozen new contact center customers while maintaining inbound channels. 
            </li>
        </ul>
        <p>
            Most leads generated by the effort are still active. With time more contact center customers are expected to convert and generate return on investment higher than the breakeven level at the end of this case study.  
        </p>
        <div class="flex flex-col space-y-4">
            {% import "macros.njk" as macros %}

            <div>
                <div class="shadow">
                    {{ macros.responsiveImg(site.imgcdn+"/pingplotter/contact-center-lander.png", 752, 350, "Contact center landing page", imgix_args="&fit=crop&crop=top")}}
                </div>
                <p class="text-center italic">
                    Contact center<a href="https://www.pingplotter.com/contact-center/">landing page</a>
                </p>
            </div>
            <div class="flex flex-row space-x-4">
                <div>
                    <div class="shadow">
                        <a href="https://www.icmi.com/resources/2022/increase-productivity-remote-workers-internet">
                            {{ macros.responsiveImg(site.imgcdn+"/pingplotter/icmi-content-marketing.png", 376, 376, "ICMI content marketing", imgix_args="&fit=crop&crop=focalpoint&fp-x=0.4&fp-y=0&fp=z=0")}}
                        </a>
                    </div>
                    <p class="text-center italic">
                        ICMI <a href="https://www.icmi.com/resources/2022/increase-productivity-remote-workers-internet">
                        content marketing</a>
                    </p>
                </div>
                <div>
                    <div class="shadow">
                        <a href="https://www.customercontactweekdigital.com/tools-technologies/articles/product-review-pingplotter-addresses-remote-agent-connection-woes-yielding-a-higher-quality-cx">
                            {{ macros.responsiveImg(site.imgcdn+"/pingplotter/ccw-content-marketing.png", 376, 376, "CCW content marketing", imgix_args="&fit=crop&crop=focalpoint&fp-x=0.4&fp-y=0&fp=z=0")}}
                        </a>
                    </div>
                    <p class="text-center italic">
                            CCW <a href="https://www.customercontactweekdigital.com/tools-technologies/articles/product-review-pingplotter-addresses-remote-agent-connection-woes-yielding-a-higher-quality-cx">
                            content marketing</a>
                    </p>
                </div>
            </div>
            <div>
                <div class="shadow">
                    {{ macros.responsiveImg(site.imgcdn+"/pingplotter/taylor-tradeshow.jpg", 752, 350, "Taylor working booth", imgix_args="&fit=crop&crop=mmiddle")}}
                </div>
                <p class="text-center italic">
                        Working the booth
                    </p>
            </div>
            <div>
                <div class="shadow">
                    {{ macros.responsiveImg(site.imgcdn+"/pingplotter/tradeshow-collateral.jpg", 752, 350, "Tradeshow collateral", imgix_args="&fit=crop&crop=mmiddle")}}
                </div>
                <p class="text-center italic">
                        Tradeshow collateral
                    </p>
            </div>

        </section>