---
title: NoPileups
description: Scaled a first-to-market SaaS product from 10 to 100+ customers and acquisition by DRB systems. 
image: https://edgewize.imgix.net/images/nopileups/website-hero.png
layout: post
tags:
    - portfolio
---

{% import "macros.njk" as macros %}
<p class="text-bold">
    May 2017 to April 2018
</p>
<p>
    NoPileups</a> is a car wash anti-collision service. 
    It uses computer vision to stop the conveyor before accidents happen. 
    The startup was acquired by <a href="https://drb.com/tunnel_solutions/tunnel_management/nopileups_full_tunnel_optimization" class="text-primary hover:text-yellow">DRB Systems</a> in 2018.
</p>
<div class="flex flex-col md:flex-row space-x-4 text-center mb-4">
<div>
    <img
            width="600"
            height="450"
            alt="Example of tunnel collision" 
            src="{{site.imgcdn}}/nopileups/tunnel-collision.gif">
    <p>
            Without NoPileups
        </p>
</div>
<div>
    <img
            width="600"
            height="450"
            alt="Example of NoPileups Stop"
            src="{{site.imgcdn}}/nopileups/good-stop.gif" >
    <p>
                With NoPileups
            </p>
</div>
</div>
<p>
    This was the situation when I was hired. 
</p>
<ul class="list-inside list-disc">
<li>
        Running in a dozen car washes.
    </li>
<li>
        Customers pay $500 per site per month.
    </li>
<li>
        Majority of business acquired though a strategic partner's network.
    </li>
<li>
        Target audience is unsure about high-tech and subscription services.
    </li>
</ul>
<p>
    The mission was increasing the number of car washes running the service.
</p>
<p>
    I developed a customer acquisition strategy and lead a team of seven sales, creative, &amp; implementation people to achieve these results. 
</p>
<ul class="list-inside list-disc">
<li>
        Generated leads for 3 out of 5 car washes in the target audience.
    </li>
<li>
        Added $50,000 in monthly recurring revenue - about 100 new car washes.
    </li>
<li>
        Awarded small business of the your by Boise Chamber of Commerce.
    </li>
</ul>

<div>
{{ macros.responsiveImg(site.imgcdn+"/nopileups/npu-team.jpg", 752, 381, "NoPileups team", imgix_args="&fit=crop&crop=middle") }}
<p class="text-center">
        A few members hard at work.
    </p>
</div>
<div class="flex flex-row space-x-4">
<div>
    {{ macros.responsiveImg(site.imgcdn+"/nopileups/print-ad.png", 752, 381, "Email banner") }}
    <p class="text-center">
            Print ad featured in Autolaundry News
        </p>
</div>
<div>
    {{ macros.responsiveImg(site.imgcdn+"/nopileups/direct-mailer.png", 752, 381, "Email banner") }}
    <p class="text-center">
            Direct mailer
        </p>
</div>
</div>