---
title: Pingman Tools | Pandemic Navigation
description:  Grew revenue and team while navigating COVID-19
image: https://edgewize.imgix.net/images/navigation/team-on-zoom.png?format=auto&w=723&h=371&fit=crop&crop=focalpoint&fp-x=.5&fp-y=0&fp-z=1.2
layout: post
tags:
    - portfolio
---
<section>
    <div class="flex flex-col space-y-4">
        <p class="font-bold">March 2020 - June 2021</p>
        <h2 class="font-header text-xl font-medium text-black sm:text-2xl lg:text-3xl">
            Background
        </h2>
        <p>
            <a href="https://pingman.com/">Pingman Tools</a> is a software company providing network troubleshooting tools to business and consumer markets.
        </p>
        <p>
            I started as operations director in Fall of 2019. Six months into the job the COVID-19 pandemic turned the world upside down. My CEO and I made the call to go fully remote when we heard the news of the NBA shutting down. This was a day or two before the lockdown was announced.
        </p>
        <p>
            This was the situation at the time.
        </p>
        <ul class="list-inside list-disc">

            <li>
                Company of 9 marketing, support, & development people managed by myself and the CEO. 
            </li>
            <li>
                Yearly revenues around $900K.
            </li>
            <li>
                New remote network monitoring technology was in development.
            </li>
            <li>
                Sales inquiries from businesses had all but disappeared.
            </li>
            <li>
                Everyone including me was incredibly freaked out 😨.
            </li>
            <li>
                The massive shift to remote work drew a ton of attention.
            </li>
        </ul>
        <h2 class="font-header text-xl font-medium text-black sm:text-2xl lg:text-3xl">
            Goals and Actions
        </h2>
        <ul class="list-inside list-disc">
            <li>Support the team through a challenging situation.</li>
            <li>Find a way to do remote work effectively.</li>
            <li>Maintain income and capitalize on the influx of new users.</li>
        </ul>
        <p>
            My role through this period involved leading the company, managing our support and marketing people, and collaborating with the development team managed by my CEO.
        </p>
        <p>
            I implemented several actions to help Pingman Tools succeed through a challenging time. 
        </p>
        <h3 class="font-header text-l font-medium text-primary sm:text-1xl lg:text-2xl">
            Team Support
        </h3>
        <p>
            At this point, I’d been a member of a <a href="https://www.vistage.com">Vistage Key Executive Group</a> for three years. Fortunately, the education and support I received through the program equipped me to help my team through challenging times.
        </p>
        <p>
            We also needed a place to process the rapidly changing world, and I lead a daily conversation dedicated to exactly that.  
        </p>
        <p>
            Finally, I increased the frequency of one-on-ones from monthly to weekly or bi-weekly. These conversations we essential to understanding how my team members were doing and created a place to build stronger connections. 
        </p>
        <h3 class="font-header text-l font-medium text-primary sm:text-1xl lg:text-2xl">
            Operational Systems
        </h3>
        <p>
            Like many organizations, Pingman Tools had never entertained remote work before the pandemic.
        </p>
        <p>
            A new mode of operation was required and I drew from two sources to implement a different way of getting work done. 
        </p>
        <p>
            Pingman Tools had been kicking the tires on the Entrepreneurial Operating System (<a href="https://www.eosworldwide.com/">EOS</a>) since before I took over as Operations Director, and the shift to remote work made the system even more attractive.
        </p>
        <p>
            I helped our team use the vision, traction, and data components to stay aligned in our efforts and measure our progress. The issues component was also a useful framework for making progress on difficult topics. 
        </p>
        <p>
            <a href="https://basecamp.com/remote-resources">Basecamp</a>, a project management software company, was my other inspiration for operational systems. They have several useful ideas on how to do remote work effectively. Some of the core takeaways I focused on included:
        </p>
        <ul class="list-inside list-disc">
            <li>
                Encouraging <a href="https://en.wikipedia.org/wiki/Asynchronous_communication">asynchronous communication</a>
            </li>
            <li>
                Fostering a culture of <a href="https://arc.dev/employer-blog/build-a-calm-ethical-remote-company/">writing things down</a>
            </li>
            <li>
                <a href="https://balancethegrind.co/work-life-balance/inside-basecamps-calm-work-life-balance-culture/">Calming</a> things down and de-stressing our workplace
            </li>
        </ul>
        <h3 class="font-header text-l font-medium text-primary sm:text-1xl lg:text-2xl">
            New Revenue Sources
        </h3>
        <p>
            It felt like the rest of the world was figuring out remote work along with us, and this represented an opportunity. Our team could help remote workers and the IT teams supporting them. 
        </p>
        <p>
            My role in developing new revenue sources involved coordinating the team’s efforts and strategy. Some highlights include:
        </p>
        <ul class="list-inside list-disc">
            <li>
                I project managed the release of <a href="https://www.pingplotter.com/sidekick">Sidekick</a> - a troubleshooting assistant designed for remote workers.
            </li>
            <li>
                I lead go-to-market for <a href="https://www.pingplotter.com/cloud">PingPlotter Cloud</a> - a SaaS product for monitoring remote worker internet.
            </li>
            <li>
                I developed Pingman’s personal sales department by helping team member pivot their job and hiring their counterpart.
            </li>
        </ul>
        <h2 class="font-header text-xl font-medium text-black sm:text-2xl lg:text-3xl">
            Results
        </h2>
        <p>
            The efforts I lead achieved these results before Pingman Tools implemented a hybrid working strategy a little more than a year after the lockdowns.
        </p>
        <ul class="list-inside list-disc">
            <li>
                Retained everyone on the team while adding a new developer and Pingman's first salesperson.
            </li>
            <li>
                Grew yearly revenue above the seven-figure mark for the first time in company history.
            </li>
            <li>
                Developed an operational system flexible enough to continue adding value through the company's next hybrid-working phase.
            </li>
            <li>
                Increased the connection between people and had some fun despite our challenging circumstances.
            </li>
        </ul>
    </di>
</section>