---
title: PingPlotter.com
description: Worked as primary developer of pingplotter.com betweek 2018 and 2023.
image: https://edgewize.imgix.net/images/pingplotter-portfolio.png?format=auto&w=723&h=371&fit=crop&crop=focalpoint&fp-x=.5&fp-y=0&fp-z=1.2
layout: post
tags:
    - portfolio
---

<p class="mb-2">
    PingPlotter is an internet connection troubleshooting tool used by millions accross the globe. 
    I worked as the primary developer of <a href="https://www.pingplotter.com" class="text-primary hover:text-yellow">pingplotter.com</a> between 2019 and 2023.
    During that time, I was able to improve download, lead generation, and ecommerce conversion rates with the help of team members and a web development agency. 
</p>
<p>
    <a href="https:www.pingplotter.com">
        <button class="mt-6 flex items-center justify-center rounded bg-primary px-8 py-3 font-header text-lg font-bold uppercase text-white hover:bg-grey-20">
      Visit PingPlotter.com
      <i class="bx bx-chevron-right relative -right-2 text-3xl"></i>
        </button>
    </a>
</p>