---
title: PingPlotter.com | Jamstack Conversion
description: Improved pingplotter.com performance and UX with JAMstack conversion.
image: https://edgewize.imgix.net/images/pingplotter-portfolio.png?format=auto&w=723&h=371&fit=crop&crop=focalpoint&fp-x=.5&fp-y=0&fp-z=1.2
layout: post
tags:
    - portfolio
---
<section>
    <div class="flex flex-col space-y-4">
        <p class="font-bold">January 2023 - June 2023</p>
        <h4 class="font-header text-xl font-medium text-black sm:text-2xl lg:text-3xl">
            Background
        </h4>
        <p>
            <a href="https://www.pingplotter.com">PingPlotter</a> is a tool for troubleshooting internet connections. Thousands of businesses and consumers visit the site every day to try and buy various PingPlotter versions. 
            In June 2023, I launched a new version of the site to improve performance and usability. 
        </p>
        <p>
            <a href="https:www.pingplotter.com">
                <button 
                    class="mt-6 flex items-center justify-center rounded bg-primary px-8 py-3 font-header text-lg font-bold uppercase text-white hover:bg-grey-20">
                    Visit PingPlotter.com
                    <i class="bx bx-chevron-right relative -right-2 text-3xl"></i>
                </button>
            </a>
        </p>
        <p>This was the situation when I started the project</p>
        <ul class="list-inside list-disc">
            <li>
                <a href="https://mcdsystems.co.uk/lighthouse-scores-what-are-they-and-why-are-they-important/">Lighthouse</a> performance scores in the mid (yellow) range.
            </li>
            <li>
                Technical debt increased the risk of changes. 
            </li>
            <li>
                Simple tasks like adding pages was difficult and content contributors were frustrated.
            </li>
            <li>
                Several SEO compliance opportunities were left unrealized.
            </li>
            <li>
                Many instances of broken links, orphaned pages, and duplicate content.
            </li>
        </ul>
        <h4 class="pt-6 mb-4 font-header text-xl font-medium text-black sm:text-2xl lg:text-3xl">
            Results  
        </h4>
        <p>
            With 80% of revenue coming from the website, it was too important to operate the way it was. PingPlotter's web designer and I converted the site from Drupal to <a href="https://jamstack.org/what-is-jamstack/">Jamstack</a> and produced these results within the first month of launch.
        </p>
        <ul class="list-inside list-disc mb-4">
            <li>
                Updates happened with confidence because the staging and production sites match perfectly. 
            </li>
            <li>
                Page load time was decreased by 40%. Lighthouse scores improved in every category.
            </li>
            <li>
                Resolved broken links and other content issues. No more losting things in the database.
            </li>
            <li>
                100/100 Lighthouse SEO score for top search pages.  
            </li>
            <li>
                Decreased updated friction. Content contributors enjoyed working on the site
            </li>
        </ul>
        <p>
            With time, the performance, SEO, and user experience improvements are expected to improve the site's search engine presence and ultimately increase PingPlotter sales.  
        </p>
        <div>
            {% import "macros.njk" as macros %}
            <div class="shadow">
                {{ macros.responsiveImg(site.imgcdn+"/pingplotter/green-lighthouse-scores.png", 700, 700, "Green lighthouse scores", imgix_args="&fit=crop&crop=bottom")}}
                <p class="text-center italic">Green Lighthouse scores!</p>
            </div>
        </div>
        <h4 class="pt-6 mb-4 font-header text-xl font-medium text-black sm:text-2xl lg:text-3xl">
            Technical
        </h4>
        <p>
            Some of the project's technical highlights.
        </p>
        <ul class="list-inside list-disc">
            <li>
                Static site generated with <a href="https://www.11ty.dev/">Eleventy</a>.
            </li>
            <li>
                Templates coded in <a href="https://mozilla.github.io/nunjucks/">Nunjucks</a>.
            </li>
            <li>
                50% CSS reduction by implementing <a href="https://purgecss.com/">Purgecss</a>.
            </li>
            <li>
                Re-implemented some <a href="https://www.pingplotter.com/cloud/request">non-standard</a> form validation with <a href="https://validatejs.org/">Validate.js</a>
            </li>
        </ul>
    </div>
</section>