---
layout: base
bgcolor: bg-lila
permalink: /dashboard/
---

<section class="container">
    <h1 class="text-center font-header text-4xl mt-6 font-semibold uppercase sm:text-5xl lg:text-6xl">
        Boise Whitewater Park
    </h1>
</section>
<section class="container py-16 md:py-20">
    <div class="flex flex-row space-x-4 mb-6">
        <div class="flex flex-col space-y-4">
            <div class="rounded overflow-hidden bg-white shadow">
                <div class="text-center">
                    <span id="current-flow" class="mt-2 text-6xl font-black text-center"></span>
                    <span>cfs</span>
                </div>
                <div id="today-date" class="mx-4 mb-2 text-center"></div>
            </div>
            <div class="rounded overflow-hidden bg-white shadow">
                <div class="text-center">
                    <span id="objects-detected" class="mt-2 text-6xl font-black text-center"></span>
                    <div class="mx-4 mb-2 text-center">objects detected</div>
                </div>
            </div>            
            <div class="flex lg:flex-row md:flex-col space-x-4 text-center">
                <div class="rounded overflow-hidden bg-white shadow grow">
                    <div id="week-delta" class="mt-2 text-3xl font-bold"></div>
                    <div class="mx-4 mb-2">Since last week</div>
                </div>
                <div class="rounded overflow-hidden bg-white shadow grow">
                    <div id="month-delta" class="mt-2 text-3xl font-bold"></div>
                    <div class="mx-4 mb-2">Since last month</div>
                </div>
            </div>
        </div>
        <div class="rounded overflow-hidden bg-white shadow">
            <img id="wavecam" src=""/>
        </div>
        <div class="rounded overflow-hidden bg-white shadow">
            <img id="annotated-screenshot" src=""/>
        </div>
    </div>
    <div class="flex flex-row space-x-4">
        <div class="grow rounded overflow-hidden bg-white shadow">
            <img 
                id="timeline-loader"
                src="/assets/images/loading.gif"
                class="mx-auto py-36"
                height="40px" 
                width="40px"/>
            <div id="timeline"></div>
        </div>
    </div>
</section>
<input type="hidden" value="{{ site.api[project.environment] }}" id="apiUrl"/>
{# <input type="hidden" value="{{ site.api['production'] }}" id="apiUrl"/> #}