---
title: About
layout: base
eleventyNavigation:
    key: Home
    order: 1
---

{% include "home/hero.njk" %}
{% include "home/about.njk" %}
{% include "home/portfolio.njk" %}
{# {% include "home/services.njk" %} #}
{# {% include "home/experience.njk" %} #}
{% include "home/contact.njk" %}
{# {% include "home/newsletter.njk" %} #}