<!DOCTYPE html>
<html lang="{{ meta.lang }}">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>
            {% if title %}
                {{ title }} | {{ meta.title }}
            {% else %}
                {{ meta.title }}
            {% endif %}
        </title>
        <link
            as="style"
            href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Raleway:wght@400;500;600;700&display=swap"
            rel="preload"
/>

        <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Raleway:wght@400;500;600;700&display=swap"
            rel="stylesheet"
/>

        <link
            href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
            rel="stylesheet"
/>

        <link href="{{ '/assets/styles/main.css' | url }}" rel="stylesheet"/>
        {% include "meta.njk" %}
    </head>
    <body class="flex flex-col min-h-screen">
        {% iconsprite %}
        <a href="#main" class="hidden">skip to main content</a>
        <header>{% include "header.njk" %}</header>

        <main id="main" class="flex-grow" tabindex="-1">
            {{ content | safe }}
        </main>

        <footer class="bg-primary w-full text-white mt-10">
            {% include "footer.njk" %}
        </footer>

        <script
            type="text/javascript"
            src="{{ '/assets/scripts/main.js' | url }}"
        ></script>
    </body>
</html>