---
layout: base
---
<article class="container font-body leading-relaxed text-grey-800 pt-10">
    <div class="flex flex-col space-y-6 w-1/2 mx-auto">
        <div>
            <img
                alt="{{description}}"
                src="{{image}}?format=auto&w=752&h=381&fit=crop&crop=focalpoint&fp-x=.5&fp-y=0&fp-z=1.2"
                srcset="{{image}}?format=auto&w=752&h=381&fit=crop&crop=focalpoint&fp-x=.5&fp-y=0&fp-z=1.2,
                {{image}}?format=auto&w=752&h=381&fit=crop&crop=focalpoint&fp-x=.5&fp-y=0&fp-z=1.2&dpr=2 2x,
                {{image}}?format=auto&w=752&h=381&fit=crop&crop=focalpoint&fp-x=.5&fp-y=0&fp-z=1.2&dpr=3 3x"
                class="w-full shadow mb-4"
            >
        </div>
        <h1 class="font-header text-4xl font-semibold uppercase text-primary sm:text-5xl lg:text-6xl">
            {{ title }}
        </h1>
        {{ content | safe }}
    </div>
</article>